.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

#content .container .row {
  text-align: justify;
}

#content .container .row img {
  width: 100%;
}